{% extends "base.html" %}
{% block content %}
<h1>{{ page.title }}</h1>
<div class="contact">
  <div class="prose">{{ page.content | safe }}</div>
  <address>
    {% for line in page.extra.address %}
      {% if loop.first %}<strong>{{ line | replace(from="S2IL", to="S<sup>2</sup>IL") | safe }}</strong>{% else %}{{ line | replace(from="S2IL", to="S<sup>2</sup>IL") | safe }}{% endif %}<br>
    {% endfor %}
    <br>
    <a href="mailto:{{ config.extra.email }}">{{ config.extra.email }}</a><br>
    {% if page.extra.phone %}{{ page.extra.phone }}{% endif %}
  </address>
</div>
{% endblock %}
